body{
    font-family: sans-serif;
    margin: 0;
    background-color: #fcfcfc;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #711cc7;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: rgb(1, 0, 9);
}
nav a{
    font-weight: 600;
    padding-right: 20px;
}
nav a:hover{
    color: white;
}
@media (max-widht:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }

}